<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/footer.css">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer-top-nav">
                <div class="footer-top-nav__wrapper">
                    <ul>
                        <li>
                            <a href="/">Главная страница</a>
                        </li>
                        <li>
                            <a href="/">О КОМПАНИИ</a>
                        </li>
                        <li>
                            <a href="/">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-body">
                <div class="footer-body__wrapper">
                    <div class="footer-body__list">
                        <div class="footer-body__list-row">
                            <ul>
                                <li><a href="/">АВТОМОБИЛИ С ПРОБЕГОМ</a></li>
                                <li><a href="/">СЕРВИС</a></li>
                                <li><a href="/">Услуги</a></li>
                                <li><a href="/">Акции Сервиса</a></li>
                                <li><a href="/">Калькулятор ТО</a></li>
                                <li><a href="/">Аксессуары</a></li>
                                <li><a href="/">Отзывные кампании</a></li>
                                <li><a href="/">Бонусная программа «Nissan NEXT»</a></li>
                                <li><a href="/">Беспроцентная рассрочка</a></li>
                            </ul>
                        </div>
                        <div class="footer-body__list-row">
                            <ul>
                                <li><a href="/">АВТОМОБИЛИ В НАЛИЧИИ</a></li>
                                <li><a href="/">О КОМПАНИИ</a></li>
                                <li><a href="/">Новости дилера</a></li>
                                <li><a href="/">События Nissan</a></li>
                                <li><a href="/">Контакты</a></li>
                                <li><a href="/">Мир Nissan</a></li>
                            </ul>
                        </div>
                        <div class="footer-body__list-row">
                            <ul>
                                <li><a href="/">АВТОМОБИЛИ</a></li>
                                <li><a href="/">X-TRAIL 2021</a></li>
                                <li><a href="/">QASHQAI 2021</a></li>
                                <li><a href="/">MURANO</a></li>
                                <li><a href="/">TERRANO</a></li>
                            </ul>
                        </div>
                        <div class="footer-body__list-row">
                            <ul>
                                <li><a href="/">ПОКУПКА</a></li>
                                <li><a href="/">Программы Nissan</a></li>
                                <li><a href="/">Новые автомобили</a></li>
                                <li><a href="/">Корпоративным клиентам</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-body__buttons">
                        <div>
                            <button>позвоните мне</button>
                        </div>
                        <div>
                            <button>запись на сервис</button>
                        </div>
                        <div>
                            <button>тест-драйв</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-block">
                <div class="footer-bottom-block__wrapper">

                    <div class="footer-bottom-block__head">
                        <p>¹ Рекомендованная розничная цена с учетом специального предложения</p>
                        <div class="line"></div>
                    </div>
                    
                    <div class="footer-bottom-block__body">
                        <div>
                            <p>
                                © 2021, официальный автодилер Nissan. Вся информация на сайте носит рекламный характер и
                                не
                                является публичной офертой,
                                определяемой положениями статьи 464 Гражданского кодекса Республики Беларусь.
                                Изображения автомобилей на сайте представлены для ознакомления и могут отличаться от
                                автомобилей реализуемых дилерами.
                                Комплектации и цены могут быть изменены без предварительного оповещения. Более подробную
                                и
                                актуальную информацию можно
                                получить у официального дилера Nissan.
                            </p>
                        </div>
                        <div>
                            <a target="_blank" href="https://www.meme-arsenal.com/memes/3e7d59c71dcf6a86f5d589666507ec83.jpg">
                                Сделано программистами "Автопрома"
                            </a>
                        </div>
                    </div>
                    <div class="footer-bottom-block__footer">
                        <ul>
                            <li><a target="_blank" href="https://www.instagram.com/nissanglobalby/"></a></li>
                            <li><a target="_blank" href="https://vk.com/nissanglobalby"></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/nissanglobalby/"></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCCNp0rO7bh6wmbqwRKMfIKg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>