<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="header-top-list">
            <div class="header-top-list__wrapper">
                <ul class="header-top-list__ul">
                    <li>
                        <a href="/">Перезвонить</a>
                    </li>
                    <li>
                        <a href="/">Запись на тест-драйв</a>
                    </li>
                    <li>
                        <a href="/">Запись на сервис</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav__wrapper">
                <div class="header-nav__logo">
                    <a href="/">
                        <img src="../../images/header/nissan-logo.png" alt="logo">
                    </a>
                </div>
                <div class="header-nav-container">
                    <div class="header-nav-container__info">
                        <div>
                            <a href="/">NISSAN Лозанж</a>
                        </div>
                        <div>
                            <a href="/">NISSAN на Каменногорской, 11</a>
                            <a href="tel: 389-90-90">389-90-90</a>
                        </div>
                    </div>
                    <div class="header-nav-container__menu">
                        <ul>
                            <li>АВТОМОБИЛИ С ПРОБЕГОМ</li>
                            <li>АВТОМОБИЛИ В НАЛИЧИИ</li>
                            <li data-type='cars' class="item">АВТОМОБИЛИ</li>
                            <li data-type='buy' class="item">ПОКУПКА</li>
                            <li data-type='service' class="item">СЕРВИС</li>
                            <li data-type='about' class="item">О КОМПАНИИ</li>
                        </ul>
                    </div>
                    <div class="accord-info">
                        <div class="accord-wrapper">
                            <div class="menu-about menu" id="about">
                                <div class="menu-about__wrapper">
                                    <div class="menu-about__list">
                                        <div class="menu-about__list-top">
                                            <div><a href="#">Мир Nissan</a> </div>
                                            <ul>
                                                <li><a href="#">Правила Nissan</a></li>
                                                <li><a href="#">Intelligent Mobility</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-about__list-top">
                                            <div><a href="#">Контакты</a> </div>
                                        </div>
                                        <div class="menu-about__list-top">
                                            <div><a href="#">События Nissan</a> </div>
                                        </div>
                                        <div class="menu-about__list-top">
                                            <div><a href="#">Новости дилера</a> </div>
                                            <ul>
                                                <li><a href="#">Заработал первый онлайн-сервис по проверке Nissan на
                                                        наличие в отзывных кампаниях</a></li>
                                                <li><a href="#">Концепция «Nissan Next»</a></li>
                                                <li><a href="#">Начал работу новый официальный сервисный центр
                                                        Nissan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-service menu" id="service">
                                <div class="menu-service__wrapper">
                                    <div class="menu-service__list">
                                        <div class="menu-service__list-top">
                                            <div><a href="#">Услуги</a> </div>
                                            <ul>
                                                <li><a href="#">Заявка на сервис</a></li>
                                                <li><a href="#">Нанесение покрытия «Антишум»</a></li>
                                                <li><a href="#">Антикоррозийная обработка</a></li>
                                                <li><a href="#">Нанесение нанокерамических покрытий</a></li>
                                                <li><a href="#">Услуга «Подменный автомобиль»</a></li>
                                                <li><a href="#">Гарантийная политика Nissan</a></li>
                                            </ul>
                                            <div><a href="#">Отзывные кампании</a></div>
                                        </div>
                                        <div class="menu-service__list-top">
                                            <div><a href="#">Акции Сервиса</a> </div>
                                            <ul>
                                                <li><a href="#">Программа помощи на дорогах Nissan Assistance</a></li>
                                                <li><a href="#">Охранная система с автозапуском</a></li>
                                                <li><a href="#">Выгода на кузовной ремонт 50%</a></li>
                                                <li><a href="#">Выгодные сервисные предложения</a></li>
                                                <li><a href="#">Выгода на услуги фирменного сервиса 50%</a></li>
                                            </ul>
                                            <div><a href="#">Бонусная программа «Nissan NEXT» Калькулятор ТО</a></div>
                                        </div>
                                        <div class="menu-service__list-top">
                                            <div><a href="#">Калькулятор ТО</a> </div>
                                            <div><a href="#">Беспроцентная рассрочка</a> </div>
                                        </div>
                                        <div class="menu-service__list-top">
                                            <div><a href="#">Аксессуары</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-buy menu" id="buy">
                                <div class="menu-buy__wrapper">
                                    <div class="menu-buy__list">
                                        <div class="menu-buy__list-top">
                                            <div><a href="#">Программы Nissan</a> </div>
                                            <ul>
                                                <li><a href="#">В кругу Nissan</a></li>
                                                <li><a href="#">Nissan Finance</a></li>
                                                <li><a href="#">Лизинговые программы</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-buy__list-top">
                                            <div><a href="#">Новые автомобили</a> </div>
                                            <ul>
                                                <li><a href="#">Запись на тест-драйв</a></li>
                                                <li><a href="#">Специальные предложения</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-buy__list-top">
                                            <div><a href="#">Корпоративным клиентам</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-car-list menu" id="cars">
                                <div class="menu-car-list__item">
                                    <a target="blank" href="/images/nissan/pdf/x-trail.pdf">
                                        <img src="../../images/header/xtrail.webp" alt="#">
                                        <h4>X-TRAIL</h4>
                                    </a>
                                    <p>Цена 60 300 BYN¹</p>

                                </div>
                                <div class="menu-car-list__item">
                                    <a target="blank" href="/images/nissan/pdf/qashqai.pdf">
                                        <img src="../../images/header/qashkay.webp" alt="#">
                                        <h4>QASHQAI</h4>
                                    </a>
                                    <p>Цена 50 200 BYN¹</p>

                                </div>
                                <div class="menu-car-list__item">
                                    <a target="blank" href="/images/nissan/pdf/terrano.pdf">
                                        <img src="../../images/header/terano.webp" alt="#">
                                        <h4>TERRANO</h4>
                                    </a>
                                    <p>Цена 39 400 BYN¹</p>

                                </div>
                                <div class="menu-car-list__item">
                                    <a target="blank" href="/images/nissan/pdf/murano.pdf">
                                        <img src="../../images/header/murano.webp" alt="#">
                                        <h4>MURANO</h4>
                                    </a>
                                    <p>Цена 96 200 BYN¹</p>

                                </div>
                            </div>
                            <div class="menu-nav-desktop" style="display: none;">
                                <div class="menu-nav-desktop__wrapper">
                                    <div class="list-1">
                                        <ul>
                                            <li>
                                                Программы Nissan
                                            </li>
                                            <!--  <li>
                                                        <a href="#">В кругу Nissan</a>
                                                    </li> -->
                                            <li>
                                                <a href="/nissan-finance">Nissan Finance</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list-2">
                                        <ul>
                                            <li>
                                                Новые автомобили
                                            </li>
                                            <li>
                                                <a href="/sign-up-for-service">Запись на тест-драйв</a>
                                            </li>
                                            <li>
                                                <a href="/news">Новости Nissan</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list-3">
                                        <ul>
                                            <li>
                                                Корпоративным клиентам
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
        <div class="mobile-menu-block">
            <div class="mobile-menu-block__wrapper">
                <div class="btn-close-cross"></div>
                <div class="mobile-menu-block__general-menu">
                    <ul>
                        <li><a href="#">АВТОМОБИЛИ С ПРОБЕГОМ</a></li>
                        <li><a href="#">АВТОМОБИЛИ В НАЛИЧИИ</a></li>
                        <li><a href="#">АВТОМОБИЛИ</a></li>
                        <li><a href="#">ПОКУПКА</a></li>
                        <li><a href="#">СЕРВИС</a></li>
                        <li><a href="#">О КОМПАНИИ</a></li>
                    </ul>
                </div>
                <div class="mobile-menu-block__info-menu">
                    <ul>
                        <li><a href="tel:389-90-90">389-90-90</a></li>
                        <li>
                            пн - пт: с 08:00 по 20:00<br />
                            сб: с 08:00 по 19:00<br />
                            вс: выходной
                        </li>
                        <li><a href="#">Минск, Каменногорская, 11</a></li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="header-nav-mobile">
            <div class="header-nav-mobile__wrapper">
                <div class="header-nav-mobile__first">
                    <div class="header-nav-mobile__logo">
                        <a href="/">
                            <img src="../../images/header/nissan-logo-text.png" alt="mobile-logo">
                        </a>
                    </div>
                    <div>
                        <a href="/">NISSAN Лозанж</a>
                    </div>
                </div>
                <div class="header-nav-mobile__second">
                    <div><a href="/"></a></div>
                    <div><a href="/"></a></div>
                    <div class="mobile-menu"><a href="#"></a></div>
                </div>
            </div>
        </div>

    </header>

    <script src="../../scripts/layout/header.js"></script>
</body>


</html>